.contain {
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
.testimonial {
  position: relative;
  max-width: 900px;
  width: 100%;
  padding: 50px 0;
  overflow: hidden;
}
.testimonial .image {
  height: 170px;
  width: 170px;
  object-fit: cover;
  border-radius: 50%;
}
.testimonial .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
  height: 100%;
  width: 100%;
}

.slide p {
  text-align: center;
  padding: 0 160px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  font-size: 0.9rem;
}

.slide i {
  font-size: 10px;
  width: 20%;
}
.slide .details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.details .name {
  font-size: 10px;
  font-weight: 600;
  color: #333;
  font-size: 1rem;
}
.details .job {
  font-size: 12px;
  font-weight: 400;
  color: #333;
  font-size: 1rem;
}

/* swiper button css */
.nav-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transform: translateY(30px);
  background-color: #ff7900;
  transition: 0.2s;
  padding: 1.5rem;
}
.nav-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.nav-btn::after,
.nav-btn::before {
  font-size: 20px;
  color: #fff;
}

.swiper-pagination-bullet {
  background-color: #ff7900;
  color: #ff7900;
}
.swiper-pagination-bullet-active {
  background-color: #ff7900;
  color: #ff7900;
}

/* 
faq section */

.faq {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
  scrollbar-width: 1px;
}

.accordion {
  width: 100%;
  font-size: 0.9rem;
  color: #ff7900;
  margin: 20px;
}

.accordion button {
  font-size: 0.9rem;
  color: #ff7900;
  border: 1px solid #ff7900;
  padding: 20px;
}
.accordion button p {
  text-transform: capitalize;
  color: #000;
}

.accordion button:active {
  color: #ff7900;
  background-color: #ff7900;
}

.accordion button:focus {
  box-shadow: 0 10px 10px rgb(187, 127, 14);
  border: 1px solid #ff7900;
}

@media screen and (max-width: 768px) {
  .slide p {
    padding: 0 20px;
  }
  .nav-btn {
    display: none;
  }
  .faq {
    display: block;
  }
  .accordion {
    margin-left: auto;

    margin-right: auto;
  }
}
