.rd{
    display: flex;
    margin: 20px;
}


.card-sec{
    margin: 40px 20px 0px 40px;
    display: flex;
    justify-content: space-between;
    
  
}

.card-sec1:hover{
    transform: scale(1.2);
    background-color: white;
   
}

.card-sec1{
    text-align: center;
    padding: 30px;
    margin: 10px;
    box-shadow:  0rem 1rem 1.2rem #777;
    transition: all .8s ease-out;
}
.card-sec1 i{
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: bold;
}

.card-sec1 h2{
    font-size: 28px;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: bold;
}

.card-sec1 p{
    font-size: 20px;
    color: #777;
    letter-spacing: 2px;
}


.video{
    text-align: center;
}